@layer theme {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@layer components {
  .rui-virtual-list, .rui-virtual-grid {
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-anchor: none;
    overscroll-behavior: contain;
  
    & [data-part='scroll'] {
      position: relative;
    }
  }
  
  
  .rui-virtual-infinite {
    width: 100%;
    height: auto;
    &[data-size='xs'] {
      height: .75rem;
    }
    &[data-size='sm'] {
      height: .875rem;
    }
    &[data-size='base'] {
      height: 1rem;
    }
    &[data-size='lg'] {
      height: 1.125rem;
    }
  
    & [data-part='loading'] {
      display: flex;
      align-items: center;
      justify-content: center;
      &[data-size='xs'] {
        padding: 0 .375rem
      }
      &[data-size='sm'] {
        padding: 0 .5rem;
      }
      &[data-size='base'] {
        padding: 0 .625rem;
      }
      &[data-size='lg'] {
        padding: 0 .75rem;
      }
    }
  
    & [data-part='spinner'] {
      animation: spin 1s linear infinite;
      &[data-size='xs'] {
        width: 1.25rem;
        height: 1.25rem;
      }
      &[data-size='sm'] {
        width: 1.5rem;
        height: 1.5rem;
      }
      &[data-size='base'] {
        width: 1.75rem;
        height: 1.75rem;
      }
      &[data-size='lg'] {
        width: 2rem;
        height: 2rem;
      }
    }
  
    & [data-part='complete'] {
      display: flex;
      align-items: center;
      justify-content: center;
      &[data-size='xs'] {
        padding: 0 .375rem;
      }
      &[data-size='sm'] {
        padding: 0 .5rem;
      }
      &[data-size='base'] {
        padding: 0 .625rem;
      }
      &[data-size='lg'] {
        padding: 0 .75rem;
      }
    }
  
    & [data-part='error'] {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &[data-size='xs'] {
        padding: 0 .375rem;
        gap: .25rem
      }
      &[data-size='sm'] {
        padding: 0 .5rem;
        gap: .375rem
      }
      &[data-size='base'] {
        padding: 0 .625rem;
        gap: .5rem
      }
      &[data-size='lg'] {
        padding: 0 .75rem;
        gap: .625rem
      }
    }
  }
}

