@import 'tailwindcss';
@import './perset.css';

@import './components/arrow.css';
@import './components/badge.css';
@import './components/button.css';
@import './components/checkbox.css';
@import './components/radio-group.css';
@import './components/collapsible.css';
@import './components/input.css';
@import './components/editable.css';
@import './components/tooltip.css';
@import './components/dialog.css';
@import './components/hover-card.css';
@import './components/popover.css';
@import './components/switch.css';
@import './components/menu.css';
@import './components/select.css';
@import './components/toast.css';
@import './components/message.css';
@import './components/slider.css';
@import './components/tabs.css';
@import './components/scroll-area.css';
@import './components/toggle.css';
@import './components/toggle-group.css';
@import './components/progress.css';
@import './components/hotkey.css';
@import './components/spin.css';
@import './components/tags-input.css';
@import './components/skeleton.css';
@import './components/rating-group.css';
@import './components/pagination.css';
@import './components/number-input.css';
@import './components/date-picker.css';
@import './components/tree.css';