@import 'tailwindcss';
@import './perset.css';

@import './components/badge.css';
@import './components/button.css';
@import './components/checkbox.css';
@import './components/collapsible.css';
@import './components/input.css';
@import './components/editable.css';
@import './components/tooltip.css';
@import './components/dialog.css';
@import './components/hover-card.css';