@import '@rui-ark/themes/razer/index.css';

body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-h00)
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
