@layer components {
  *:where([data-part='arrow']) {
    --arrow-background: var(--color-hff);
    &[data-skin='dark'] {
      --arrow-background: var(--color-h00);
    }
  }
  *:where([data-part='arrow-tip']) {
    @apply bg-hff data-bordered:border-h00;
    @apply dark:bg-h00 dark:data-bordered:border-h33;
  }
}