@layer components {
  .rui-menu-content {
    --border-radius: var(--radius);
    /** shadow & border */
    @apply data-bordered:border-h11 shadow-rui-popper;

    /** arrow */
    & [data-part='arrow'] {
      --arrow-background: var(--color-h1a);
      &[data-skin='dark'] {
        --arrow-background: var(--color-h1a);
      }
    }
    & [data-part='arrow-tip'] {
      @apply bg-h1a data-bordered:border-h11;
    }
  }

  /** bg & text */
  .rui-menu-content,
  .rui-menu-content-inner {
    @apply bg-h1a text-hcc;
  }
}
