@layer components {
  .rui-message {
    overflow-wrap: anywhere;
    translate: var(--x) var(--y);
    scale: var(--scale);
    z-index: var(--z-index);
    height: var(--height);
    opacity: var(--opacity);

    will-change: translate, opacity, scale;
    transition: translate var(--tw-duration, 200ms),
      scale var(--tw-duration, 200ms), opacity var(--tw-duration, 200ms),
      height var(--tw-duration, 200ms);
    transition-timing-function: var(--tw-timing, ease-out);

    &[data-state='closed'] {
      transition: translate var(--tw-duration, 200ms),
        scale var(--tw-duration, 200ms), opacity var(--tw-duration, 200ms);
      transition-timing-function: var(--tw-timing, ease-out);
    }
  }

  .rui-message-content {
    @apply bg-h22 shadow-rui-popper;
    @apply success:border-l-rui-success error:border-l-rui-error warning:border-l-rui-warning info:border-l-rui-info loading:border-l-rui-parimary;
    &[data-placement^='bottom'] {
      @apply shadow-rui-popper-top;
    }
  }

  .rui-message-icon {
    @apply success:text-rui-success error:text-rui-error warning:text-rui-warning info:text-rui-info loading:text-rui-parimary;
    &[data-type='loading'] {
      @apply animate-spin;
    }
  }

  .rui-message-close {
    @apply text-rui-close hover:text-rui-close-hover;
  }
}
