@layer components {
  .rui-popover-content {
    @apply data-bordered:border-h00;
    @apply dark:data-bordered:border-h33;
  }

  .rui-popover-content-inner {
    @apply bg-hff data-bordered:border-h00 text-h00;
    @apply dark:bg-h00 dark:text-hff;
  }

  .rui-popover-arrow {}

  .rui-popover-arrow-tip {
    --arrow-background: var(--color-hff);
    &:where([data-skin=dark], [data-skin=dark] *) {
      --arrow-background: var(--color-h00);
    }
    @apply bg-hff data-bordered:border-h00;
    @apply dark:bg-h00 dark:data-bordered:border-h33;
  }

  .rui-popover-close{
    @apply text-rui-close hover:text-h00;
    @apply dark:hover:text-rui-close-hover;
  }
}
