@layer components {
  .rui-popover-content {
    --border-radius: var(--radius);
    @apply shadow-rui-popper;
    @apply data-bordered:border-h00;
    @apply dark:data-bordered:border-h33;
  }

  .rui-popover-content,
  .rui-popover-content-inner {
    @apply bg-hff text-h00;
    @apply dark:bg-h00 dark:text-hff;
  }

  .rui-popover-close {
    @apply text-rui-close hover:text-h00;
    @apply dark:hover:text-rui-close-hover;
  }
}
