@layer components {
  .rui-progress-track {
    @apply bg-rz-green/30;
  }

  .rui-progress-range {
    &[data-variant='default'] {
      @apply bg-rz-green;
    }

    &[data-variant='robbin'][data-orientation='horizontal'] {
      --robbin-1: var(--color-rz-green);
      --robbin-2: oklch(70% 0.2343 141.32);
      background-image: linear-gradient(
        45deg,
        var(--robbin-1) 25%,
        var(--robbin-2) 25%,
        var(--robbin-2) 50%,
        var(--robbin-1) 50%,
        var(--robbin-1) 75%,
        var(--robbin-2) 75%,
        var(--robbin-2)
      );
      background-size: var(--height) var(--height);
      background-repeat: repeat-x;
      animation: robbin-left-to-right 0.6s linear infinite;
    }

    &[data-variant='robbin'][data-orientation='vertical'] {
      --robbin-1: var(--color-rz-green);
      --robbin-2: oklch(70% 0.2343 141.32);
      background-image: linear-gradient(
        45deg,
        var(--robbin-1) 25%,
        var(--robbin-2) 25%,
        var(--robbin-2) 50%,
        var(--robbin-1) 50%,
        var(--robbin-1) 75%,
        var(--robbin-2) 75%,
        var(--robbin-2)
      );
      background-size: var(--width) var(--width);
      background-repeat: repeat-y;
      animation: robbin-top-to-bottom 0.6s linear infinite;
    }

    &[data-variant='transfer'] {
      --transfer-from: oklch(76.87% 0.2343 141.32);
      --transfer-to: oklch(80.16% 0.1705 73.27);
    }
  }


  .rui-progress-circle-track{
    @apply stroke-rz-green/30;
  }

  .rui-progress-circle-range{
    &[data-variant='default'] {
      @apply stroke-rz-green;
    }
    &[data-variant='transfer'] {
      --transfer-from: oklch(76.87% 0.2343 141.32);
      --transfer-to: oklch(80.16% 0.1705 73.27);
    }
  }

  @keyframes robbin-left-to-right {
    to {
      background-position: 6px 0;
    }
  }
  @keyframes robbin-top-to-bottom {
    to {
      background-position: 0 6px;
    }
  }
}
