@layer components {
  .rui-select-trigger {
    @apply bg-h16 text-hbb border-h00 data-[state=open]:border-rz-green;

    &:not([data-disabled]) {
      @apply hover:border-rz-green;
    }
  }

  .rui-select-content {
    @apply bg-h1a text-hcc border-h11 shadow-rui-popper;
  }
}